.hero-container{
	padding-bottom: 50%;
	@media screen and (min-width: $break-sm) {
		padding-bottom: 31.25%;
	}
}

.hero-headline {
	position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 55%;
}

.form {
	border: 1px solid $light-gray;
	box-shadow: 0 0 8px 0 rgba(0,0,0,0.2);
	@media #{$breakpoint-not-small} {
		top: -2.5rem;
	}
	@media #{$breakpoint-large} {
		top: -5rem;
	}
}

.select-group {
	@media #{$breakpoint-medium} {
		clear: both;
	}
}

.body-content {
	margin: auto;
}

.footer { 
	background-color: $black;
	@media screen and (min-width: $break-sm) {
		position: absolute;
		height: 8rem;
	}
}
.copyright {
	p {
		max-width: 25rem;
	}
	@media screen and (min-width: $break-sm) {
		text-align: left;
		p {
			float: right;
			width: 50%;
			text-align: right;
		}
	}
	@media #{$breakpoint-large} {
		p {
			width: auto;
			max-width: none;
		}
	}
}