.logo {
	@media screen and (max-width: $nav-break - 1) {
		float: none;
		margin: 0 auto;
	}
}
.phone-mobile {
	@media screen and (min-width: $nav-break) {
		display: none;
	}
}
.phone-desktop {
	@media screen and (max-width: $nav-break - 1) {
		display: none;
	}
}
.ul-accordion__header {
	display: block;
	width: 100%;
	padding: 0;
	margin: 0 0 1.25rem;
	font-size: 1.5rem;
	font-weight: 700;
	text-align: left;
	border: none;
	background: transparent;
	-webkit-appearance: none;	
}
.ul-accordion__title,
.ul-noanim-accordion__title {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.ul-accordion__panel {
    display: block;
    overflow: hidden;
    opacity: 1;
    -webkit-transition: visibility 0s ease, max-height .3s ease-in-out, opacity .3s ease;
    transition: visibility 0s ease, max-height .3s ease-in-out, opacity .3s ease;
    max-height: 100em;
    visibility: visible;
    transition-delay: 0s;
    margin: 0;
    padding: 0;
    &[aria-hidden=true] {
      display: block;
      max-height: 0;
      opacity: 0;
      visibility: hidden;
      //-webkit-transition-delay: .25s, 0s, 0s;
      //transition-delay: .25s, 0s, 0s;
      margin: 0;
      padding: 0;
    }
}
/*.accordion {
    display: block;
    position: relative;
    width: 100%;
    padding: 16px 2.5em 14px 0;
    clear: both;
    &:after {
        display: table;
        clear: both;
        content: '';
    }
}
.accordion-toggle {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;
    margin: 0;
    z-index: 1;
    opacity: 0;
    visibility: visible;
    &:checked {
    	~ .collapse {
	        max-height: 2000px;
	    }
	    ~ .plus-icon {
	        top: 27px;
	        &:before,
	        &:after {
	        	//background-color: $bright-blue;
	        }
	        &:before {
	        	transform: translate(-50%, -50%) rotate(-135deg);
	        }
	        &:after {
	        	transform: translate(-50%, -50%) rotate(135deg);
	        }
	    }
    }
}
.collapse {
    display: block;
    position: relative;
    z-index: 2;
    width: 100%;
    max-height: 0;
    margin-top: 0;
    overflow: hidden;
    transition: max-height 0.5s;
    &:after {
        display: table;
        clear: both;
        content: '';
    }
    p {
        margin-top: 8px;
    }
}
.plus-icon {
	position: absolute;
	right: 10px;
	top: 50%;
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: middle;
    transform: translateY(-50%);
    &:after, 
    &:before {
        content: '';
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        width: 15px;
        height: 2px;
        background-color: #666;
        border-radius: 2px;
        transform: translate(-50%, -50%);
        transition: transform 0.4s;
    }
    &:after {
        transform: translate(-50%, -50%) rotate(-90deg);
    }
}*/