/*=========================BREAKPOINTS=========================================*/
$nav-break: 640px;
$break-sm: 768px;
$break-med: 960px;
/*=========================COLOR===============================================*/
$red: #9e0f15;
$bright-red: #cf202f;
$black: #0a0203;
$darker-gray: #4d4d4d;
$dark-gray: #656565;
$gray: #c1c5c9;
$light-gray: #b3b3b3;

/*=========================TYPOGRAPHY==========================================*/
$univers: 'Univers W01', Helvetica, Arial, sans-serif;
$adelle: 'adelle', Georgia, serif;
$proxima: 'proxima-nova', Helvetica, Arial, sans-serif;

/*=========================IMPORTANT MEASURES==================================*/